<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseLib.Properties.Settings.ProductsConnectionString"
            connectionString="Data Source=|DataDirectory|\Products.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="DatabaseLib.Properties.Settings.ScannedProductsConnectionString"
            connectionString="Data Source=.\ScannedProducts.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="DatabaseLib.Properties.Settings.ScannedProductsConnectionString1"
            connectionString="Data Source=|DataDirectory|\ScannedProducts.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>