<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSDServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TSDServer.Properties.Settings.ProductsConnectionString"
            connectionString="Data Source=|DataDirectory|\Products.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <userSettings>
        <TSDServer.Properties.Settings>
            <setting name="TSDDBPAth" serializeAs="String">
                <value>\Program files\TSDFamilia\</value>
            </setting>
            <setting name="NumberDecimalSeparator" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ShortDatePattern" serializeAs="String">
                <value>dd.MM.yy</value>
            </setting>
            <setting name="DateSeparator" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="FieldsLength" serializeAs="String">
                <value>13;30;20;25;6;30;11;11;10;10;11;20;30</value>
            </setting>
            <setting name="FieldDelimeter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="ImportFileTypeIsFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaseDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </TSDServer.Properties.Settings>
    </userSettings>
</configuration>