<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TSDServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <TSDServer.Properties.Settings>
            <setting name="NumberDecimalSeparator" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="ShortDatePattern" serializeAs="String">
                <value>dd.MM.yy</value>
            </setting>
            <setting name="DateSeparator" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="FieldsLength" serializeAs="String">
                <value>13;30;20;25;6;30;11;11;10;10;11;20;30</value>
            </setting>
            <setting name="FieldDelimeter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="ImportFileTypeIsFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaseDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="LocalFilePath" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="ImportProductsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportDocsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSDDBPAth" serializeAs="String">
                <value>\Storage Card\tsdfamilia\</value>
            </setting>
            <setting name="RemoteFilePath" serializeAs="String">
                <value>\\127.0.0.1\share\</value>
            </setting>
            <setting name="UserNameFrom" serializeAs="String">
                <value>volkov</value>
            </setting>
            <setting name="AddressFrom" serializeAs="String">
                <value>volkov@famil.ru</value>
            </setting>
            <setting name="SmtpClient" serializeAs="String">
                <value>exchange.famil.ru</value>
            </setting>
            <setting name="BreakOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddressToList" serializeAs="String">
                <value>volkov@famil.ru;volkov@famil.ru;volkov@famil.ru</value>
            </setting>
            <setting name="EraseTerminalDB" serializeAs="String">
                <value>False</value>
            </setting>
        </TSDServer.Properties.Settings>
    </userSettings>
</configuration>